<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts | MakeUp By RITI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body style="background-color: hsl(17deg 50% 66%)">
    
    <nav class="navbar navbar-expand navbar-dark " style="background-color: #0005">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'home/logo.jpg'%}" alt="Makeup by Riti" width="50" height="50">
        </a>
      </div>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item" style="padding-left: 50px">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item" style="padding-left: 50px">
            <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item" style="padding-left: 50px">
            <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item" style="padding-left: 50px">
            <a class="nav-link" href="">Contact</a>
            </li>
            <li class="nav-item" style="padding-left: 50px">
            <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div style="margin: 50px 50px"><h2 style="font-family: arial black"><center>Contact Us</center><h2>
      <div class="card-group" style="background-color: hsl(17deg 45% 70%)">
        <div class="card text-center" style="margin: 30px ; background-color: hsl(17deg 46% 76%)">
          <img src="{% static 'home/phone1.png'%}" class="card-img-top" alt="img" width="150"   height="220">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">By Phone</h5>
            <p class="card-text" style="font-size: 14px">(Monday-Friday, 11am-4pm PST)<br>North America Toll-Free:<br>1-887-998-877<br><br>International:<br>1-604-876-907</p>
          </div>
        </div>
        <div class="card text-center" style="margin: 30px">
          <img src="{% static 'home/email1.png'%}" class="card-img-top" alt="img" width="150"   height="220">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">Email Us</h5>
            <p class="card-text" style="font-size: 14px">Just send us your question or concern and we will give the help you need.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-outline-secondary">Start here</button>
          </div>
        </div>
        <div class="card text-center" style="margin: 30px">
          <img src="{% static 'home/chat1.png'%}" class="card-img-top" alt="img" width="150"   height="220">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">Live Chat</h5>
            <p class="card-text" style="font-size: 14px">Chat to know more.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-outline-secondary">Live Chat</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>





















{% comment %} {% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block nav %}{% endblock nav %}

{% load static %}

{% block body %}
<div style="background-color: #D4AF37">
  <div style="margin: 50px 50px"><h2><center>Contact Us</center><h2>
    <div class="card-group">
      <div class="card text-center" style="margin: 30px">
        <img src="{% static 'home/phone.png'%}" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold ; font-size: 50px">By Phone</h5>
          <p class="card-text" style="font-size: 14px">(Monday-Friday, 11am-4pm PST)<br>North America Toll-Free:<br>1-887-998-877<br><br>International:<br>1-604-876-907</p>
        </div>
      </div>
      <div class="card text-center" style="margin: 30px">
        <img src="static/email.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold">Email Us</h5>
          <p class="card-text" style="font-size: 14px">Just send us your question or concern and we will give the help you need.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-secondary">Start here</button>
        </div>
      </div>
      <div class="card text-center" style="margin: 30px">
        <img src="static/chat.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold">Live Chat</h5>
          <p class="card-text" style="font-size: 14px">Chat to know more.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-secondary">Live Chat</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %} {% endcomment %}
